<div id="about">

  <div class="col-md-3 col-sm-1 "> </div>
  <div class="col-md-6 col-sm-10 ">
    <p class="bajada"><b>Niñez Constituye</b> es una plataforma que forma parte del Compromiso con la Niñez, teniendo como objetivo monitorear y evaluar la discusión sobre los derechos de la niñez en la Convención Constitucional. Se analizan, a través de medidas estándar, los artículos sobre derechos de niños, niñas y adolescentes respecto a su contenido y la etapa en la que se encuentran actualmente.</p>
  </div>
  <div class="col-md-3 col-sm-1 "> </div>


</div>
