<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
          <div class="proyecto-de">
            <p class="white ">Un proyecto de:</p>
            <a href="https://www.paralaconfianza.org/observatorio/" target="_blank" class="text-center">
              <img src="{{ site.baseurl }}img/observatorio-logo.png" title="Observatorio para la confianza" class="img-logo-horizontal logo-footer">
            </a>
            <a href="http://compromisoconlaninez.org" target="_blank" class="text-center">
              <img src="{{ site.baseurl }}img/compromiso-logo.png" title="Compromiso con la niñez" class="img-logo-vertical logo-footer">
            </a>
          </div>
          <div class="desarrollado-por">
            <p class="white">Desarrollado por y en colaboración con:</p>
              <a href="https://www.ciudadaniai.org/" target="_blank" class="text-left">
              <img src="{{ site.baseurl }}img/fci-logo.png" title="FCI" class="img-logo-vertical logo-footer">
              </a>
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 datos-enlaces">
        <p class="white text-right">Contáctanos
          <br>
          <a href='mailto:observatorio@paralaconfianza.com'> <i class="far fa-envelope"></i>observatorio@paralaconfianza.com</a></p><br>
        <p class="white text-right"> <a href='https://github.com/ciudadanointeligente/infancia'> <img src="{{ site.baseurl }}img/githug-icono.png" alt="icono-git" width="13px;"> Revisa el código en Github</a> </p>
      </div>
    </div>

  </div>
</footer>
