<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12 title">
          <!-- <img src="{{ site.baseurl }}img/logo-blanco.png" ></img> -->
          <h2>Monitoreo sobre la inclusión de los <br><b>derechos de la niñez en la nueva constitución</b></h2>
          <a href="{{ site.baseurl }}cumplimiento.html" class="btn btn-primary">Ver estado de avance</a>
        </div>
        <div class="col-md-6">
        </div>

      </div>
    </div>
  </div>
</div>
